<auth-layout-page></auth-layout-page>

<h1 class="Principal">Inicio</h1>
<h1 routerLink="/auth/login" class="Salir">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout"></mat-icon>
       Salir</h1>

<div class="container">
    <div class="carro">
        <h2 class="titulo">Automovil</h2>
        <button routerLink="/auth/automovil" class="Parqueadero">Ver parquedadero</button>
        <button routerLink="/auth/registarVehiculo" class="Registro">Registrar</button>
    </div>
    <div class="moto">
        <h2 class="titulo">Motocicleta</h2>
        <button routerLink="/auth/motocicleta" class="Parqueadero">Ver parquedadero</button>
        <button routerLink="/auth/registarVehiculo" class="Registro">Registrar </button>
    </div>
</div>